#ammos-count{
  position: absolute;
  top: 15vw;
  left: 0.1vw;
}

.weaponImg-info{
  margin-top: calc(1px + 0.2vh);
  width: calc(8px + 0.5vw);
  height: calc(28px + 0.5vw);
  display: none;
}

#ammos-count div{
  display: flex;
}