.ayudas{
  width: calc(30px + 28vw);
  height: calc(20px + 18vw);
  min-width: 150px;
  min-height: 110px;
  position: absolute; 
  right: 50%;
  top: 2vw;
  transform: translate(50%, 0);
}
.introAyuda1{
display: none;
transition: 1s ease-in-out;
}
.introAyuda2{
  display: none;

}


.munAmetralladora,
.munCadena,
.munEscudo,
.munLanzallamas,
.munMegablaster,
.munSalud,
.munHook,
.munStep {
  display: none;
}


#demo-text-box0 {
  position: absolute;
  z-index: 20;
  top: 1vw;
  left: 50%;
  transform: translate(-50%, 0%);
  display: none;
  justify-content: center; /* Centra horizontalmente los elementos */
  align-items: center; /* Centra verticalmente los elementos */
}

#demo-text-box0 div{
  display: flex;
  justify-content: center;
}

#demo-text-box0 div h1{
font-size:calc(12px + 0.6vw);
margin: 4px;
text-shadow: 1px 1px blue;
}