.ayudas{
  width: calc(30px + 8vw);
  height: calc(20px + 3vw);
  min-width: 150px;
  min-height: 110px;
  position: absolute; 
  right: 35%;
  top: 2vh;
  transform: translate(50%, 0);
  z-index: 23;
}
.ayudasDemo{
  width: calc(30px + 28vw);
  height: calc(20px + 18vw);
  min-width: 150px;
  min-height: 110px;
  position: absolute; 
  right: 50%;
  top: 1vw;
  transform: translate(50%, 0);
}

.introAyuda1,
.introAyuda2,
.introAyudaFinal1{
  display: none;
transition: 1s ease-in-out;

}


.munAmetralladora,
.munCadena,
.munEscudo,
.munLanzallamas,
.munMegablaster,
.munSalud,
.munHook,
.munStep {
  display: none;
  transition: all 0.5s ease-in-out;
}


#demo-text-box0 {
  position: absolute;
  z-index: 20;
  top: 1vw;
  left: 50%;
  transform: translate(-50%, 0%);
  display: none;
  justify-content: center; /* Centra horizontalmente los elementos */
  align-items: center; /* Centra verticalmente los elementos */
}

#demo-text-box0 div{
  display: flex;
  justify-content: center;
}

#demo-text-box0 div h1{
font-size:calc(12px + 0.6vw);
margin: 4px;
color: rgb(255, 255, 255);
text-shadow: 1px 1px 1px rgb(255, 0, 0);
backdrop-filter: contrast(10%);
padding: 3px 8px;
}
#demo-text-box0 div h4{
font-size:calc(10px + 0.3vw);
margin: 4px;
color: rgb(255, 255, 255);
text-shadow: 1px 1px 1px rgb(255, 0, 0);
backdrop-filter: contrast(10%);
padding: 3px 8px;
}

#arrow-bubbles {
  width: calc(12px + 4vw);
  transition:  1.5s ease-in-out; 
  animation: scaleAnimation 0.5s infinite alternate;
  position: absolute;
  left: 50%;
  top: 12vh;
  display: none;
}

@keyframes scaleAnimation {
  0% {
    transform: scale(1); 
  }
  100% {
    transform: scale(1.2); 
  }
}


/* Estilo para el botón de cierre (X) */
.closeButton {
  position: absolute;
  cursor: pointer;
  right: 29%;
  top: 1vh;
  color: white;
  text-shadow: 1px 1px 1px red;
  font-size: 40px;
  display: none;
  transition: 0.5s ease-in-out;
  background-color: transparent;
  border: none;
  z-index: 24;

}
.moveButton {
  position: absolute;
  cursor: pointer;
  right: 29%;
  top: 4.5vh;
  color: white;
  text-shadow: 1px 1px 1px red;
  font-size: 40px;
  display: none;
transition: 0.5s ease-in-out;
background-color: transparent;
border: none;
z-index: 24;

}
.closeButton:hover {
  text-shadow: 3px 3px 3px red;
  font-weight: 900;
}

.demoFriend{
  width: 10vw;
  margin: auto;
}

.demoFriend1, .demoFriend2, .demoFriend3, .demoFriend4, .demoFriend5{
  transition: all 0.4s ease-in-out;
  display: none;
}
.demoFriend4, .demoFriend5{
  opacity: 0;
}


.minions{
  position: absolute;
  width: 10vw;
  height: 10vw;
  z-index: 50;
  display: none;
  opacity: 0;
}
.minion1{
  top: 10vh;
  right: 20vw;
  transition: all 0.5s ease-in-out;;
  animation: minion1Animation 2.5s ease-in-out infinite;
}
.minion2{
  top: 30vh;
  left: 25vw;
  transition: all 0.5s ease-in-out;
  animation: minion1Animation 3s ease-in-out infinite;
}
.minion3{
  top: 10vh;
  left: 20vw;
  transition: all 0.5s ease-in-out;
  animation: minion1Animation 3.4s ease-in-out infinite;
}
.minion4{
  top: 30vh;
  right: 20vw;
  transition: all 0.5s ease-in-out;
  animation: minion1Animation 3.7s ease-in-out infinite;
}
.minion5{
  top: 2vh;
  left: 33vw;
  transition: all 0.5s ease-in-out;
  animation: minion1Animation 4s ease-in-out infinite;
}
.minion6{
  top: 2vh;
  right: 33vw;
  transition: all 0.5s ease-in-out;
  animation: minion1Animation 2.2s ease-in-out infinite;
}

@keyframes minion1Animation {
  0% {
    transform: translateX(-2%) translateY(0);
  }
  25% {
    transform: translateX(2%) translateY(0);
  }
  50% {
    transform: translateX(-2%) translateY(-1vh);
  }
  75% {
    transform: translateX(2%) translateY(-1vh);
  }
  100% {
    transform: translateX(-2%) translateY(0);
  }
}

@keyframes boss1Animation {
  50% { top: 35%}
  0%{right: 43%;}
  25%{right: 41%;}
  50%{right: 43%;}
  75%{right: 41%;}
  100%{right: 43%;}
}
.boss1{
  top: 30%;
  right: 43%;
  width: 15vw;
  height: 15vw;
  transition: all 0.5s ease-in-out;
  animation: boss1Animation 2.5s ease-in-out infinite;
}

.minion1:hover, 
.minion2:hover, 
.minion3:hover, 
.minion4:hover, 
.minion5:hover, 
.minion6:hover,
.boss1:hover {
  transform: scale(1.4);
}


#minions-talk {
  position: absolute;
  z-index: 20;
  top: 1vw;
  right: 10%;
  transform: translate(-1%, 0%);
  display: none;
  justify-content: center; /* Centra horizontalmente los elementos */
  align-items: center; /* Centra verticalmente los elementos */
}

#minions-talk div{
  display: flex;
  justify-content: center;
}

#minions-talk div h1{
  font-size:calc(12px + 0.6vw);
  margin: 4px;
  color: rgb(215, 233, 55);
  text-shadow: 1px 1px 1px rgb(255, 0, 0);
  backdrop-filter: contrast(50%);
  padding: 3px 8px;
  z-index: 60;
  transition: all 1s ease-in-out;
  }

  #miniBoss1{
    width: 10vw;
    position: absolute;
    right: 10vw;
    top: 5vh;
    display: none;
  transition: all 1s ease-in-out;

  }




  #btn-instrucciones{
    position: absolute;
    padding: 5px 10px;
    background-color: rgb(0, 255, 255);
    top: 1%;
    right: 10%;
    display: none;
  }
  #cambiar-sala{
    position: absolute;
    padding: 3px 5px;
    background-color: rgb(0, 255, 255);
    top: 1%;
    right: 6%;
    display: none;
  }

  #poltra-scrap0{
    width: calc(100px + 2vw);
    position: absolute;
    top: 5vh;
    right: 40vw;
    opacity: 0;
    display: none;
    transition: all 1s ease-in-out;
  }


  .sincrongeniero{
    transition: all 0.3s ease-in-out;
  }
  .sincrongeniero:hover{
    scale: 2;
  }