.ayudas{
  width: 28vw;
  height: 15vw;
  min-width: 150px;
  min-height: 110px;
  position: absolute; 
  right: 1vw;
  top: 1vw;
}
.introAyuda1{
display: none;
transition: 1s ease-in-out;
}
.introAyuda2{
  display: none;

}


.munAmetralladora,
.munCadena,
.munEscudo,
.munLanzallamas,
.munMegablaster,
.munSalud {
  display: none;
}
