button{
  cursor: pointer;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
}
#canvas {
  margin: 0 auto; /* Esto centra el canvas horizontalmente */
  display: block; /* Esto asegura que el canvas se muestre como un bloque */
  max-width: 90vw; /* Establece el ancho máximo del canvas al 90% del ancho de la ventana gráfica */
  max-height: 90vh; /* Establece la altura máxima del canvas al 90% de la altura de la ventana gráfica */
  border: 5px ridge red;
  background-image: URL("/public//Imagenes/background/backgroundPang.webp");
  background-size: cover; /* Ajusta el fondo para cubrir todo el espacio */
  background-position: center; /* Centra la imagen de fondo */
  background-repeat: no-repeat;
}

/* iiiiconos */
.icons-left {
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  text-shadow: 1px 1px 1px rgb(0, 0, 0); /* Sombra del texto más contrastante */
  color: rgb(255, 0, 0); /* Texto blanco para mayor contraste */
  transition: 0.3s ease-in-out;
  background-color: rgb(0, 0, 0);
}

.icons-left:hover{
  letter-spacing: 1px;
  color: rgb(0, 189, 213);
  text-shadow: 3px 3px 3px rgb(0, 0, 0); /* Sombra del texto más contrastante */
  border-radius: 20px;
}


#pang-restart{
  display: none;
  position: absolute;
  top: 1vh;
  left: 0.1vw;
}


#pang-retry{
  display: none;
  position: absolute;
  top: 6vh;
  left: 0.1vw;
}

/* #start-background{
  position: absolute;
  top: 1vh;
  left: 50%;
  transform: translate(-50%, 0%);

  width: 85vw;
  height: 40vw;
  
} */
#demoOver-background{
  position: absolute;
  top: 0.2vw;
  left: 50%;
  transform: translate(-50.5%, 0%);
  width: 88vw;
  height: 42vw;
  min-width: 100px;
  min-height: 100px;
  display: none;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
#gameOver-background{
  position: absolute;
  top: 0.1vw;
  left: 50%;
  transform: translate(-50.5%, 0%);
  width: 88vw;
  height: 42vw;
  min-width: 100px;
  min-height: 100px;
  opacity: 0;
  transition: all 1s ease-in-out;
  display: none;
}

#gameOver-backgroundText{
  position: absolute;
  top: 37vh;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 30vw;
  height: 25vw;
  min-width: 100px;
  min-height: 100px;
  opacity: 0;
  transition: all 1s ease-in-out;
  display: none;

}
#gameOver-X:hover{
background-color: rgb(0, 0, 0);
border-radius: 50%;
}
#gameOver-X{
  position: absolute;
  top: 1vw;
  left: 10%;
  transform: translate(-50%, 0%);
  opacity: 0;
  transition: all 0.5s ease-in-out;
  z-index: 10;
  background-color: transparent;
  display: none;
}
#gameOver-X img{
  width: 40px;
  height: 40px;
padding: 15px 15px;

}

.icons-btn i{
  font-size: calc(15px + 1vw);
}
/* iiiiconos */
#retry-amount{
  margin-left: 25px;
  margin-top: -20px;
  font-size: calc(12px + 1vh);
  color: rgb(255, 123, 123);

}

#pang-start{
  position: absolute;
  border: none;
  top:50%;
  left:50%;
  font-size: calc(14px + 1vw);
  transition: 0.3s ease-in-out;
  transform: translate(-50%, -50%);
}

#pang-startInfinite:hover{
  letter-spacing: 1px;
  color: rgb(0, 189, 213);;
}
#pang-startInfinite{
  display: none;
  position: absolute;
  border: none;
  top:60%;
  left:50%;
  font-size: calc(12px + 0.7vw);
  transition: 0.3s ease-in-out;
  transform: translate(-50%, -50%);
}

#pang-demo:hover{
  letter-spacing: 1px;
  color: rgb(0, 189, 213);;
}
#pang-demo{
  position: absolute;
  border: none;
  top:60vh;
  left: 50vw;
  font-size: calc(12px + 0.7vw);
  transition: 0.3s ease-in-out;
  transform: translate(-50%, -50%);
}
/* iiiiconos */

#instrucciones-btn{
  position: absolute;
  border: none;
  top:5vh ;
  left:50%;
  font-size: calc(14px + 1vw);
  transform: translate(-50%,-50%);
}


/* iiiiconos */

/* .ayudas-btn{
  display: none;;
  position: absolute;
  text-shadow: 1px 1px black;
  color: red;
  border: none;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.549);
  top:15vh;
  left:1vw;
  font-size: calc(14px + 1vw);
  transition: 0.3s ease-in-out;
}
.ayudas-btn:hover{
  color: rgb(0, 242, 255);
} */
#instrucciones-info-1{
  display: none;
  position: absolute;
  width: 25vw;
  min-width: 100px;
  min-height: 100px;
  top: 13vh;
  left: 5vw;
  transition: 0.3s ease-in-out;
}


#instrucciones-info-2{
  display: none;
  position: absolute;
  width: 25vw;
  min-width: 100px;
  min-height: 100px;
  top: 20vh;
  left: 25vw;
  transition: 0.3s ease-in-out;
}
#instrucciones-info-3{
  display: none;
  position: absolute;
  width: 25vw;
  min-width: 100px;
  min-height: 100px;
  top: 20vh;
  left: 45vw;
  transition: 0.3s ease-in-out;
}
#instrucciones-info-4{
  display: none;
  position: absolute;
  width: 25vw;
  min-width: 100px;
  min-height: 100px;
  top: 13vh;
  left: 68vw;
  transition: 0.3s ease-in-out;
}

#changing-level-img{
  width: 63vw;
  height: 35vw;
  border: 10px solid rgb(0, 199, 70);
  border-radius: 20px;
  position: absolute;
  top: 1vw;
  left: 50%;
  transform: translate(-50%, 0);
  min-width: 100px;
  min-height: 100px;
  display: none;
}

.level-change-text{
  position: absolute;
  color: white;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 2px black;
  background-color: rgba(0, 0, 0, 0.468);
  border-radius: 20px;
  padding: 5px 20px;
  display: none;
}
#level-change-text1{
  top: 60%;
  left: 50%;
  font-size: calc(20px + 1.3vw);

}

#level-change-text2{
  top: 53%;
  left: 50%;
  font-size: calc(20px + 1.3vw);
}
#level-change-text3{
  top: 5%;
  left: 50%;
  color: rgb(214, 211, 4);

}
#level-change-text4{
  top: 11%;
  left: 50%;
  color: rgb(0, 199, 173);
}


#changing-level-map{
  position: absolute;
  top: 35vh;
  left: 20vw;
  width: calc(100px + 2vw);
  transition: all 0.5s ease-in-out;
  display: none;
  border: 4px double red;
}
