button{
  cursor: pointer;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
}
#canvas{
  width: 88vw;
  height: 38vw;
  border: 3px solid red;
  min-width: 100px;
  min-height: 100px;
}

#pang-restart{
  display: none;
  position: absolute;
  top: 1vw;
  left: 1vw;
  background-color: transparent ;
  border: none;
  color: rgb(255, 0, 0);
  font-size: calc(14px + 1vw);
  text-shadow: 1px 1px black;
  transition: 0.5s ease-in-out;
}

#start-background{
  position: absolute;
  top: 3vh;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 86vw;
  height: 36vw;
  min-width: 100px;
  min-height: 100px;
}

#pang-start{
  position: absolute;
  font-size: calc(14px + 1vw);
  text-shadow: 1px 1px black;
  color: red;
  border: none;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.549);
  top:31vw;
  left:40vw;
  transition: 0.5s ease-in-out;
}

#instrucciones-btn{
  opacity: 1;
  position: absolute;
  font-size: calc(14px + 1vw);
  text-shadow: 1px 1px black;
  color: rgb(255, 0, 0);
  border: none;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.73);
  top:8vw;
  left:40vw;
  transition: 0.5s ease-in-out;
}

#instrucciones-btn:hover{
  letter-spacing: 1px;
  background-color: rgba(36, 230, 255, 0.346);
}

#instrucciones-info-1{
  display: none;
  position: absolute;
  width: 40vw;
  min-width: 100px;
  min-height: 100px;
  top: 5vw;
  left: 15vw;
  transition: 0.5s ease-in-out;
}

#instrucciones-info-2{
  display: none;
  position: absolute;
  width: 40vw;
  min-width: 100px;
  min-height: 100px;
  top: 10vw;
  left: 45vw;
  transition: 0.5s ease-in-out;
}

#changing-level-img{
  width: 70vw;
  height: 35vw;
  border: 10px solid rgb(0, 199, 70);
  border-radius: 20px;
  position: absolute;
  top: 2vw;
  left: 10vw;
  min-width: 100px;
  min-height: 100px;
  display: none;
}

#level-change-text1{
  position: absolute;
  left: 32vw;
  top: 28vw;
  font-size: calc(20px + 2vw);
  text-shadow: 2px 2px white;
  background-color: rgba(255, 255, 255, 0.358);
  border-radius: 20px;
  padding: 5px 20px;
  display: none;
}

#level-change-text2{
  position: absolute;
  font-size: calc(20px + 2vw);
  text-shadow: 2px 2px white;
  background-color: rgba(255, 255, 255, 0.358);
  border-radius: 20px;
  padding: 5px 20px;
  display: none;
}
