#toggle-shop{
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  border: none;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

#toggle-shop img{
  width: calc(30px + 2vw);
  padding: 5px;
  }

  
@media only screen and (min-height: 420px) {
  #toggle-shop{
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    opacity: 0;
  }
  #shop-btn {
    position: absolute;
    right: 0vw;
    top: 3.5vh;
    display: flex;
    flex-direction: column;
    margin-top: calc(23px + 1.3vw);
    filter: drop-shadow(0px 3px 3px rgba(0, 105, 175, 0.9));
  }




.shop-btns{
  background: none;
  border: none;
  background-image: url("/public/Imagenes/background/backgroundShop1.png");
  margin-right: 5px;
  border-radius: 5px;
  transition: 0.2s ease-in-out;
  font-size: calc(10px + 0.5vw);
  padding: 2px 4px;
  margin-bottom: 4px;
  min-width: 80px;
}
.shop-btns:hover,
.shop-btns:hover .shop-btns i {
  filter: drop-shadow(0px 3px 3px rgba(232, 151, 10, 0.9)) brightness(1.2);
  text-shadow: 1px 1px 1px rgba(75, 42, 1, 0.454);
}


.bullet-block-btns button{
  background: none;
  border: none;
  background-image: url("/public/Imagenes/background/backgroundShop1.png");
  margin-right: 5px;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
  font-size: calc(10px + 0.5vw);
  padding: 2px 4px;
  margin-bottom: 2px;
}
.bullet-block-btns button:hover{
  filter: drop-shadow(0px 3px 3px rgba(232, 151, 10, 0.9));
  font-weight: 700;
}
#shop-btn, i{
  font-size: calc(8px + 0.3vw);
}

#shop-superGun2, 
#shop-superGun3,
#shop-superGun4{
  display: none;
}

}


#shop-electro{
  display: none;
}

#shop-btn, #moves-div{
  display: none;
}

.fa-anchor{
  transform: rotate(180deg);
}


#shop-superGun2{
  align-self: center;
}
#bullet-block1{
  margin: auto;
}
#toggle-shop-extra{
  border: none;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  filter: drop-shadow(0px 3px 3px rgba(0, 105, 175, 0.9));
}
#toggle-shop-extra:hover{
  filter: drop-shadow(3px 3px 3px rgba(246, 226, 1, 0.9));
}
#toggle-shop-extra img{
  width: calc(20px + 2vw);
  padding: 5px;
  background-color: transparent;
  }
  
  .icons-size1{
    font-size: calc(12px + 0.2vw)
  }
  .icons-size2{
    font-size: calc(14px + 0.3vw)
  }





  #extra-shop {
    /* display: none; */
    /* opacity: 0; */
    position: absolute;
    top: 1%;
    right: 10%;
    transform : translate(0%, 0%);
    transition: 0.4s all ease-in-out;
    background-image: url("/public//Imagenes/background/backgroundBtnShop1.png");
    background-size: cover; /* La imagen de fondo se ajustará para estar completamente visible dentro del contenedor */
    padding: 35px 15px;
  }
  
  #extra-shop .shop-btns {
    min-width: 100px; /* Establece un ancho fijo para todos los botones */
  }
  
  .tooltip {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .extra-shop-div{
  margin-top: 5px;
  margin: auto;
  display: flex;
  justify-content: center;
  }
  .extra-shop-div h3{
    background-image: url("/public/Imagenes/background/extraShopTitle1.png");
    background-size:contain;
    background-repeat: no-repeat;
    text-shadow: 1px 1px 1px white;
  }

  .extra-shop-div-h1{
    padding: 1px 20px;
  }
  .extra-shop-div-h2{
    padding: 5px 15px;
  }
  .extra-shop-div-h3{
    padding: 7px 15px;
  }