#toggle-shop{
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}
#toggle-shop:hover{
background-color: aquamarine;
}
#toggle-shop img{
  width: calc(30px + 2vw);
  padding: 5px;
  }
  
@media only screen and (min-height: 420px) {
  #toggle-shop{
    position: absolute;
    top: 0;
    right: 1vw;
    display: none;
    opacity: 0;
  }
  #shop-btn{
    position: absolute;
    right: 0vw;
    top: 1vh;
    display: flex;
    flex-direction: column;
  margin-top: calc(23px + 1.3vw);

  }

  
#shop-shield{
  font-size: calc(10px + 0.8vw);
  background: none;
  border: none;
}

#shop-btn button{
  background: none;
  border: none;
  background-color: hwb(175 74% 2%);
  margin-right: 5px;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
  font-size: calc(10px + 0.8vw);
  padding: 6px 0.5vw;
  margin-bottom: 5px;
}

#shop-btn button:hover{
  background-color: rgb(246, 199, 246);
}

#shop-btn, i{
  font-size: calc(8px + 0.3vw);
}
#shop-superGun{
  margin-top: calc(5px + 0.3vh);
  color: rgb(254, 0, 224);
}

#shop-superGun2, 
#shop-superGun3,
#shop-superGun4{
  display: none;
}


#shop-speedGun{
  margin-top: calc(5px + 0.3vh);
}
#velocidad-text{
  font-size: calc(6px + 0.5vw);

}
#shop-speedGun>span{
  color: rgb(254, 0, 224);
}}

#shop-barResistane>span{
  color: rgb(254, 0, 224);

}
#shop-barResistane{
  margin-top: calc(5px + 0.3vh);
}
#shop-electro{
  display: none;
}
#shop-electricShield>span{
  color: rgb(254, 0, 224);
  

}
#shop-electricShield{
  margin-top: calc(5px + 0.3vh);
}

#shop-btn, #moves-div{
  display: none;
}

.fa-anchor{
  transform: rotate(180deg);
}